@import '../styles/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $blackGround;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: 1px solid $primaryLigth;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 40px 0 8px;

  :focus {
    outline-color: $primaryLigth;
  }
}

button {
  background-color: $primary;
  color: $white;
  line-height: 60px;
  border-radius: 8px;
  font-size: 16px;
  border: none;

  :hover {
    opacity: 0.9;
  }
}
